body
    padding-top: 70px
    background-color: #444444
    color: #DDD

#polls-link
    font-size: 18px

footer
    padding: 5px 0px
    a, p
        color: #7D7D7D
    a:hover
        color: #FFFFFF
